.Background {
     -fx-background-image: url("backMp3ver2.png");
   }
.BackgroundEx {
     -fx-background-image: url("backMp3Extendedver2.png");
   }
.btn_Play{
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlay.png");
   }
.btn_Play:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlayHover.png");
   }
.btn_Pause{
     -fx-background-color: transparent;
     -fx-background-image: url("btnPause.png");
   }
.btn_Pause:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPauseHover.png");
   }
.btn_Forward{
     -fx-background-color: transparent;
     -fx-background-image: url("btnForward.png");
   }
.btn_Forward:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnForwardHover.png");
   }
   .btn_Equalizer{
        -fx-background-color: transparent;
        -fx-background-image: url("btnEqualizer.png");
      }
      .btn_Equalizer:hover {
           -fx-background-color: transparent;
           -fx-background-image: url("btnEqualizerHover.png");
         }
.btn_Rewind{
     -fx-background-color: transparent;
     -fx-background-image: url("btnRewind.png");
   }
.btn_Rewind:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnRewindHover.png");
   }
.btn_Delete{
     -fx-background-color: transparent;
     -fx-background-image: url("btnDelete.png");
   }
.btn_Delete:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnDeleteHover.png");
   }
.btn_Plus{
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlus.png");
   }
.btn_Plus:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlusHover.png");
   }
.btn_Reload{
     -fx-background-color: transparent;
     -fx-background-image: url("btnReload.png");
   }
.btn_Reload:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnReloadHover.png");
   }
.btn_Upload{
     -fx-background-color: transparent;
     -fx-background-image: url("btnUpload.png");
   }
.btn_Upload:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnUploadHover.png");
   }
.btn_Previous{
     -fx-background-color: transparent;
     -fx-background-image: url("btnPrevious.png");
   }
.btn_Previous:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPreviousHover.png");
   }
.btn_Next{
     -fx-background-color: transparent;
     -fx-background-image: url("btnNext.png");
   }
.btn_Next:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnNextHover.png");
   }
.btn_Stop{
     -fx-background-color: transparent;
     -fx-background-image: url("btnStop.png");
   }
.btn_Stop:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnStopHover.png");
   }
.btn_VolUp{
     -fx-background-color: transparent;
     -fx-background-image: url("btnVolUp.png");
   }
.btn_VolUp:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnVolUpHover.png");
   }
.btn_Settings{
     -fx-background-color: transparent;
     -fx-background-image: url("btnSettings.png");
   }
.btn_Settings:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnSettingsHover.png");
   }
.btn_Playlist{
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlaylist.png");
   }
.btn_Playlist:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlaylistHover.png");
   }
.btn_PlaylistEx {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlaylistActive.png");
   }
.btn_PlaylistEx:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnPlaylist.png");
   }
.btn_Close{
     -fx-background-color: transparent;
     -fx-background-image: url("btnClose25x25.png");
   }
.btn_Close:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnCloseHover25x25.png");
   }
.btn_Hide{
     -fx-background-color: transparent;
     -fx-background-image: url("btnHide25x25.png");
   }
.btn_Hide:hover {
     -fx-background-color: transparent;
     -fx-background-image: url("btnHideHover25x25.png");
   }

.progress-bar .bar {
    -fx-padding: 6px;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
.table-view {


    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}
.table-view .scroll-bar {
    -fx-background-color: transparent;
}
.table-view .filler{
-fx-background-color: transparent;}


.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 100%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}


.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.sliderS .thumb{
-fx-background-color:transparent;
    -fx-background-image: url("sliderThumb.png");
    -fx-padding: 10;
}
.sliderS .track{
        -fx-padding:2px;
        -fx-background-insets: 0;
        -fx-background-radius: 5 0 5 0;

}
